:root{
    --border:1px solid rgb(233, 231, 231);
    --front:white;
    --rounded-border:8px;
    --extra-light-grey:#f6f8fa;
    --light-grey:#ccc;
    --dim-grey:#dee6ed;
    --grey: #b3b3b3;
    --blue:#1d9ff0;
    --black:rgb(15 23 42/1);
    --small-fonts:15px;
    --blueish-grey:#8a9ab0;
    --active:#1f2f42;
    --main-font: Brandon Text,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
    --fs-xs:16px;
    --fs-s:18px;
    --fs-r: 1.4rem;
    --fs-m:1.87rem;
    --fs-l:2.5rem;
    --fs-xl:3.25rem;
    --max-width:800px;
   --secondary: var(--extra-light-grey);
   --textLink:var(--blue);
   --primary:var(--blue);
   --default-border-radius:5px;
}

#root{
    max-width: var(--max-width);
    margin: auto;
    padding: 10px;
   /* as over flow hidden will cause sticky to not work so use contain paint */
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
}

body{
   background-color:var(--front);
   color:var(--black);
   font-size:var(--fs-s);
}
.header{
   margin-top: 50px;
   
}

.header .round{
   margin: auto;
}
.header  .h-line{
   width: 50%;
   position: absolute;
   top: 4px;
   left: 50%;
}
/* footer .col1{
   border: 2px solid var(--dim-grey);
} */
.header .col2{
   margin-top:-8px;
   width:max-content;
   max-width: 100%;
   height: 90px;
}
.header .col2 .topic-name{
   border-radius: var(--default-border-radius);
   border: 2px solid var(--dim-grey);
   height: max-content;
   padding:10px;
   font-size: var(--fs-m);
   font-weight: 500;
}
h1{
   font-size:  var(--fs-l);
   text-transform: capitalize;
}
h2{
   font-size: var(--fs-m);
   text-transform: capitalize;
}
h1,h2,h3{
   margin-top: 10px;
   margin-bottom: 10px;
}
a{
   text-decoration: none;
   cursor: pointer;
   color:var(--primary);
}
a:hover{
   text-decoration: underline;
}
a.active{
   font-weight:bold;
}
nav{
   display:flex;
   padding: 10px;
}
nav .buttons,nav .col2{
   margin-left:auto;
   display:flex;
   align-items:center;
   gap:10px;
}
nav .links{
   font-weight:500;
   margin-top:-2px;
}
nav .buttons button{
   background-color:transparent;
   border:0;
   outline:0;
}
.author_info{
   margin-top:40px;
   width: max-content;
   max-width: 100%;
}
.relative{
   position: relative;
}
.author_info .profile_img{
   position: absolute;
   z-index: 2;
   height:50px;
   width: 50px;
   overflow:hidden;
   border: 2px solid;
   border-image-slice: 1;
   background-color: var(--extra-light-grey);
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%; /*1*/
   border: 2px solid transparent; /*2*/
   background: -webkit-linear-gradient(45deg, blue,red) border-box;
   /* animation: spin 2s linear infinite; */
}

.author_info .profile_img img{
   background-color: var(--front);
   padding:10px;
   border-radius: 50%;
}
@keyframes spin {
   0% { transform: rotate(0deg); }
   100% { transform: rotate(360deg); }
 }
.author_info .col2{
   padding-bottom: 50px;
   margin-left:-8px;
}
.author_info .text{
   outline:2px solid var(--dim-grey);
   margin:0px 0px 0px 20px;
   z-index: 2;
   background-color: var(--front);
   position: relative;
   padding: 10px;
   border-radius: var(--default-border-radius);
   font-weight: 500;
}
.v-line{
   z-index: 1;
   width: 2px;
   height: 100%;
   margin: auto;
   background-color: var(--dim-grey);
   position: absolute;
   top:0;
   left: 0;right: 0;bottom: 0;
}

.h-line{
   z-index: 1;
   height: 2px;
   width: 100%;
   background-color: var(--dim-grey);
   position: absolute;
   top: 25px;
   left: 0;right: 0;
}
/* *{
   border:1px solid #ccc;
   margin:2px;
} */

.post:last-of-type{
   border-bottom:0px;
   margin-bottom: 0px;
}
.post .col2{
   padding: 10px ;
   padding-top: 40px;
}
.post small{
   font-weight: bold;
   font-size: 15px;
   position: absolute;
   left: 5px;
   top: 100px;
   background-color: var(--front);
   border-radius: 50%;
   z-index: 3;
   height: 60px;
   width: 60px;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
}
.post small span{
   display: block;
   font-weight: 400;
}
article small{font-weight: bold}
.post-link h2{
   background: -webkit-linear-gradient(45deg, blue,red) border-box;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.post_tags ,.tag{
   text-transform: uppercase;
   font-weight: 500;
   font-size:13px;
}
/*pinned*/
.pinned{
   border:1px solid var(--dim-grey);
   border-radius:8px ;
   margin:-1px;
   overflow: hidden;
}


.pinned .pinned-label{
   padding:8px 20px;
   background-color:var(--dim-grey);
   font-weight:bold;
   color:var(--black);
   display:flex;
   gap:5px;
} 
.snipped{
   margin-top:10px;
   /* font-weight:500; */
}
.manage {
   width: max-content;
   margin-left:auto;
}
.manage button{
   border:0;
   outline:0;
   padding:10px 20px;
   border-radius:20px;
   text-transform:capitalize;
   font-weight:bold;
   cursor:pointer;
   letter-spacing: 1.5px;
   margin: 2px;
}
.manage button:hover{
   opacity:0.5;
}
.manage button.pin{
   background-color:#3d3d3d;
   color:white;
}
.manage button.delete{
   background-color:red;
   color:white;
}
.manage button.edit{
   background-color:blue;
   color:white;
}
::placeholder {
   /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--blueish-grey);
    opacity: 1;
   /* Firefox */
}
:-ms-input-placeholder {
   /* Internet Explorer 10-11 */
    color: var(--blueish-grey);
}
::-ms-input-placeholder {
   /* Microsoft Edge */
    color: var(--blueish-grey);
}
/* width */
::-webkit-scrollbar {
 width: 10px;
 height:10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
 background: var(--blueish-grey); 
 border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
 opacity: .8;
}
/*markdown*/
.markdown p,.snipped{
   text-align: justify;
   line-height: 1.5;
}

.content{
   margin-top:10px;
}

code{
    font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
    font-size: 85%;
    background-color:var(--extra-light-grey);
    padding: 2px 10px;
    border-radius:6px;
    display: inline;
    word-wrap: break-word;
}
.markdown pre code{
    background-color:#293e56;
    border-radius:6px;
    display:block;
    margin-top:10px;
    margin-bottom:10px;
    
}
.markdown pre{
   position:relative;
   padding-top:10px !important;
   background-color:#293e56;
   margin:10px 0px 10px 0px;
   overflow: hidden;
   border-radius: var(--default-border-radius);
}
.markdown ul{
   margin-top:20px;
   margin-bottom:20px;
}
.markdown li{
    margin-left:20px;
    margin-top:8px;
    margin-bottom:8px;
}

.markdown pre .tools{
  position:absolute;
  width: 100%;
  top:0px; 
  left:0px;
  right:0px;
  padding:5px;
  display:flex;
  flex-direction:row;
}
.markdown pre .tools span{
   display:flex;
   align-items:center;
}
.markdown pre .tools span svg{
   color:white;
}
.markdown pre .tools .copy-btn{
   margin-left:auto;
}
.markdown pre .langFlag{
    background-color:#ffff99;
    border:0;
    color:#000;
    font-size: 85%;
    padding:2px;
    font-weight:bold;
    letter-spacing:2px;
    border-bottom-right-radius:10px;
}
.markdown img{
    border:1px solid var(--extra-light-grey);
    max-width:100%;
    display:block;
    margin:auto;
    margin-top:10px;
    margin-bottom:10px;
}
.markdown table {
    border-spacing: 0;
    border-collapse: collapse;
    display: block;
    width: max-content;
    max-width: 100%;
    overflow: auto;
    margin-top: 0;
    margin-bottom: 16px;
    margin:auto;
    font-size: 70%;
}
.markdown td, .markdown th {
    font-weight: 600;
    padding: 6px 13px;
    border: 1px solid var(--blueish-grey);
}
.markdown table tr {
    background-color: var(--extra-light-grey);
    border-top: 1px solid var(--black);
}
.markdown table thead tr th {
    background-color: var(--dim-grey);
}
.markdown blockquote {
    margin: 0;
    padding: 0 1em;
    color: var(--blueish-grey);
    border-left: .25em solid var(--blueish-grey);
}
.loader{
   animation-name: progress;
   animation-duration: 4s;
   width: 100%;
   height: 2px;
   position: fixed;
   top: 0px;
   left: 0px;
   z-index: 5000;
   background-color:red;
}
@keyframes progress {
 0%   {width: 5%;}
 25%  {width: 25%;}
 50%  {width: 50%;}
 75%  {width: 75%;}
}

/*darkmode*/
/* The switch - the box around the slider */
.switch {
 position: relative;
 display: inline-block;
 width: 50px;
 height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
 opacity: 0;
 width: 0;
 height: 0;
}
.switch{
   background-color:var(--dim-grey);
   border-radius:32px;
   position:relative;
   width: 48px;
   height:22px;
   border:1px solid transparent;
}

.switch .round{
   border-radius:50%;
   height:18px;
   width:18px;
   background-color: var(--front);
   position: absolute;
   display: flex;
   align-items: center;
   justify-content: center;
   padding-top: 2.5px;
   top: 1px;
   left: 1px;
   transition: 0.3s;
}
.switch .moon,switch .sun{
   transition: 0.3s;
}
.round > .moon{
   display:none;
}
input:checked + .round > .sun{
   display:none;
}
input:checked + .round > .moon{
   display:block;
}
input:checked + .round{
   -webkit-transform: translateX(26px);
   -ms-transform: translateX(26px);
   transform: translateX(26px);
   background-color: #1f2f42;
  }
.comment-box{
   padding-top: 20px;
   padding-bottom: 20px;
   border-bottom: 1px solid var(--dim-grey);;
  }
.comment-box .heading{
   font-weight: 500;
   margin: 10px 0px 10px 0px;

}
.comment-box input,.comment-box textarea,.comment-box button,.load-cmn-btn{
   padding:12px;
   border:1px solid var(--dim-grey);
   border-radius: 5px;
   display: block;
   width: 100%;
   margin: 10px 0px 10px 0px;
   background-color: transparent;
   color: var(--black);
}
.comment-box textarea{
   height: 100px;
   resize: vertical;
}
.comment-box button,.load-cmn-btn{
   max-width: 150px;
   margin-top: 20px;
}
.comment-box .name_email{
   display: grid;
   grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
   gap: 10px;
}
.comment-box .name_email input{
   margin:0px;
}
.comment {
   border:1px solid var(--dim-grey);
   padding: 20px;
   border-radius: 5px;
   margin: 10px 0px 0px 0px;
   opacity: 0.8;
}
.comment .text{
   padding: 10px 0px 10px 0px;
}
.comment .text img{
   max-width: 100%;
   max-height: 200px;
   display: block;
   border-radius: 5px;
   margin: 10px 0px 10px 0px;
}
.comment .info{
   font-weight: 500;
}
.comment .reply,.comment .edit,.comment .delete{
   margin-top: 10px;
   font-size: 13px;
   letter-spacing: 1.5px;
   cursor:pointer;
}
.comment .edit{
   color:var(--blue)
}
.comment .delete{
   color:red;
   margin-left:5px;
}
.comment-box .heading {
   display: flex;
}
.comment-box .heading .close{
   cursor: pointer;
   margin-left: 10px;
   margin-left: auto;
   border-radius: 5px;
   color: var(--blue);
   text-transform: capitalize;
}
.comment-box .checkbox{
   width: 100%;
   display: grid;
   grid-template-columns: 20px auto;
   align-items: center;
   font-size: 13px;
}
.placeholder .info{
   max-width: 200px;
   height: 20px;
   background-color: var(--dim-grey);
   animation: pulse 1s infinite ease-in-out;
   -webkit-animation:pulse 1s infinite ease-in-out;
}
.placeholder .text{
   height: 50px;
   background-color: var(--dim-grey);
   margin: 10px 0px 0px 0px;
   animation: pulse 1s infinite ease-in-out;
   -webkit-animation:pulse 1s infinite ease-in-out;
}
@keyframes pulse
{
  0%{
    opacity: 0.5;
  }
  50%{
   opacity: 0.8;
  }
  100%{
   opacity: 0.5;
  }
}

@-webkit-keyframes pulse
{
   0%{
      opacity: 0.5;
    }
    50%{
     opacity: 0.8;
    }
    100%{
     opacity: 0.5;
    }
}

.stories .col2{
   display:flex;
   flex-wrap:wrap;
	gap:10px;
   padding: 10px;
   max-width: 540px;
   margin: auto;
}
.stories .story{
   position: relative;
   display:flex;
   flex-wrap:wrap;
   justify-content:center;
   align-items:center;
   background-color:#000;
   height:300px ;
   max-height:300px;
   width: 100%;
   max-width: 250px;
   margin:auto;
   border-radius: var(--default-border-radius);
   overflow: hidden;
   box-shadow: inset 0 0 10px #ccc;
}
.stories .story button{
   height: 40px;
   width: 40px;
   position: absolute;
   margin-left: auto;
   margin-right: auto;
   left: 0;
   right: 0;
   text-align: center;
   background-color: red;
   border-radius: 50%;
   outline: 0;
   border: 0;
   cursor: pointer;
}

.stories .story img,.stories .story video{
   width: 100%;
}
.stories .story .caption{
   position: absolute;
   bottom: 0;
   left: 0;
   padding: 10px;
   font-weight:500;
   width: 100%;
   max-width: 400px;
   color: white;
   mix-blend-mode: difference;
}
 .edit-story{
   padding: 10px;
   height: 50px;
   width: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: red;
   z-index: 503;
   position: fixed;
   border-radius: 50px;
   outline:0;
   border:0;
   font-weight:500;
   font-size:18px;
   text-transform: capitalize;
   bottom: 10px;
   right: 10px;
   color: white;
   border-radius: 50%;
 }
 .singleStory .story-nav a{
   position: absolute;
   z-index: 503;
   left: 10px;
   padding: 10px;
   height: 50px;
   width: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: white;
   border-radius: 50%;
 }
 .singleStory .story-nav a.pre{
   top: 10px;
 }
 .singleStory .story-nav a.next{
   bottom: 10px;
 }
.always-grid ,.grid1{
   display: grid;
   grid-template-columns: 50px auto;
   /* border: 1px solid red; */
   padding: 0px 10px 0px 10px;
}
.always-grid > *,.grid1 > * {
   min-width: 0px;
 }
 .always-grid .col1,.grid1 .col1{
   position: relative;
}

.pagination{
  height: 100px;
}
.pagination .col2 {
   display: flex;
   justify-content: center;
   align-items: center;
   gap:10px;
  
}
.pagination .col2 a{
   background-color: var(--dim-grey);
   height:30px;
   min-width: 30px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius:50px;
   /* var(--default-border-radius) */
   font-weight: 500;
   text-align: center;
   margin-top:20px;
}
.pagination .col2 a.active{
   background-color: var(--blue);
   color: var(--front);
}
footer{
   margin-top: 25px;
}
footer  .round{
   margin: auto;
}
footer  .h-line{
   width: 50%;
   position: absolute;
   top: 5px;
   left: 50%;
}
footer  .v-line{
   position: absolute;
   top: -150%;
}
/* footer .col1{
   border: 2px solid var(--dim-grey);
} */
footer .col2{
   border: 2px solid var(--dim-grey);
   margin-top:-8px;
   width:max-content;
   max-width: 100%;
   padding:4px 10px;
   border-radius: var(--default-border-radius);
}
.round{
   height: 10px;
   width: 10px;
   background-color: var(--dim-grey);
   border-radius: 50%;
}
.socials{
   display:flex;
   gap:10px;
   /* margin: auto; 
   width: max-content;
   */
}

.err{
   font-size: 13px;
   color:red;
}
@media (max-width:40rem){
   .snipped{
      text-align: justify;
   }
   .stories .story{
      max-width:100%;
      height:70vh;
      max-height:70vh;
   }
   .post.single .col2{
      padding:5px;
      padding-top: 30px;
   }
   .grid1{
      display: block;
   }
   .post,.pagination,.stories{
      border-left:1px solid var(--dim-grey);
      border-right:1px solid var(--dim-grey);
   }
   .post,.stories{
      border-top-right-radius: var(--default-border-radius);
      border-top-left-radius: var(--default-border-radius);
   }
   .stories{
      border-top:1px solid var(--dim-grey);
   }
   .pagination{
      border-bottom:1px solid var(--dim-grey); 
      border-bottom-right-radius: var(--default-border-radius);
      border-bottom-left-radius: var(--default-border-radius);
   }
   .post:first-of-type{
      border-top:1px solid var(--dim-grey);
   }
   .post small{
      display: block;
      font-weight: bold;
      position: static;
      background-color: var(--front);
      border-radius: 50%;
      z-index: 3;
      text-align: left;
      padding-top:10px;
      width: max-content;
      border-radius: var(--default-border-radius);
      height:40px;
   }
   .post small span{
      display: inline;
      font-weight: 400;
   }
}